{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mainbar">
    {% for post in posts %}
    <div class="article">
        <h2><a href="{% url 'Ytube:single' %}">{{ post.title }}</a></h2>

        <div class="clr"></div>
        <p class="post-data"><span class="date">{{ post.created_at|date:"d.m.Y" }}</span> &nbsp;|&nbsp; Posted by <a href="#">{{ post.author }}</a>  &nbsp;|&nbsp; Group <a href="{% url 'Ytube:group' %}">{{ post.group }}</a>&nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
        <img src="{% static 'images/images_1.jpg' %}" width="613" height="193" alt=""/>
        {{ post.content }}
        <p class="spec"><a href="#" class="com fr">Comments (3)</a> <a href="#" class="rm fl">Read more</a></p>
        <div class="clr"></div>
    </div>
    {% endfor %}
    <div class="pagenavi"><span class="pages">Page 1 of 2</span><span class="current">1</span><a href="#">2</a><a
            href="#">&raquo;</a></div>
</div>
{% endblock %}