{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="site-section">
    <div class="container">

        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">

                <div class="row">

                    <div class="col-md-12" style="margin-bottom: 75px; text-align: center;">
                        {% if user.username != author.title %}
                        <h2 class="mb-4">Hi There! I'm {{ author.title }}</h2>
                        {% else %}
                        <h2 class="mb-4">Hi, {{ author.title }}, it's your profile</h2>
                        {% endif %}
                        <p class="mb-5" style="text-align: center;">
                            <img src="{{ author.photo.url }}" alt="Image placeholder" class="img-fluid " style="max-height: 500px;">
                        </p>
                        {% if user.username != author.title %}
                        <h4 class="mb-4">A few words about me:</h4>
                        {{ author.description }}
                        {% else %}
                        <h4 class="mb-4">Your description:</h4>
                        {{ author.description }}
                        {% endif %}


                    </div>
                    {% if user.is_authenticated %}
                        {% if user.username != author.title %}
                            <p class="category"><a href="{% url 'blog:get_follow' author %}" class="btn btn-primary btn-sm">Subscribe to {{ author }}</a></p>
                        {% endif %}
                    {% endif %}
                </div>


                <div class="row mb-5 mt-5">
                    {% if user.username == author.title %}
                    <div class="col-md-12 mb-5">
                        <h4>Number Of Your Posts: {{ count }}</h4>
                    </div>
                    {% endif %}
                    <div class="col-md-12 mb-5">
                        {% if user.username != author.title %}
                        <h2>My Latest Posts</h2>
                        {% else %}
                        <h2>Your Posts</h2>
                        {% endif %}

                    </div>
                    <div class="col-md-12">
                        {% for post, c in posts %}
                        <div class="post-entry-horzontal">
                            <a href="{{ post.get_absolute_url }}">
                                <div class="image" style="background-image: url('{{ post.photo.url }}');">
                                </div>
                                <span class="text">
                                    <div class="post-meta">
                                        <span class="category">{{ post.group }}</span>
                                        <span class="mr-2">{{ post.created_at|date:"d.m.Y" }} </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> {{ c }}</span>
                                    </div>
                                    <h2>{{ post.title }}</h2>
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>



                {% include 'includes/paginator.html' %}


            </div>

            <!-- END main-content -->

            {% include 'includes/sidebar.html' %}
            <!-- END sidebar -->

        </div>
    </div>
</section>

{% endblock %}