{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block content %}
{% load user_filters %}


<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <h1 class="mb-4">{{ post.title }}</h1>

                <div class="post-meta">
                    <a href="{{ post.group.get_absolute_url }}"><span class="category">{{ post.group }}</span></a>
                    <span class="mr-2">{{ post.created_at|date:"d.m.Y" }} </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> {{ comments.count }}</span>  &bullet;
                    <span>Views: {{ post.views }}</span>
                </div>
                <div class="post-content-body">
                    {{ post.content|safe }}
                    <div class="row mb-5">
                        <div class="col-md-12 mb-4 element-animate">
                            <img src="{{ post.photo.url }}" alt="Image placeholder" class="img-fluid">
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <p class="category"><a href="{% url 'blog:get_follow' post.author %}" class="btn btn-primary btn-sm">Subscribe to {{ post.author }}</a></p>
                {% endif %}

                <div class="pt-5">
                    Tags: <a href="#">#manila</a>, <a
                            href="#">#asia</a></p>
                </div>


                {% load mptt_tags %}

                <div class="pt-5">
                    <h3 class="mb-5">{{ comments.count }} Comments</h3>
                    <ul class="comment-list">
                        {% recursetree comments %}
                            {% with comment=node %}
                            <li class="comment">
                                <div class="vcard">
                                    <img src="{{ comment.photo.url }}" alt="Image placeholder">
                                </div>


                                <div class="comment-body">
                                    <h3>{{ comment.author }}</h3>
                                    <div class="meta">{{ comment.created_at }}</div>
                                    <p>{{ comment.content|linebreaks }}</p>
                                    {% if user.is_authenticated %}
                                    <form class="p-3 bg-light" action="." method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">

                                        <div class="col-md-12 form-group">
                                            <label for="{{ field.id_for_label }}">
                                                Reply to a comment
                                            </label>
                                            <div style="height: 70px;">{{ field|addclass:'form-control' }}</div>
                                            {% if field.help_text %}
                                            <small id="{{ field.id_for_label }}-help"
                                                   class="form-text text-muted">
                                                {{ field.help_text|safe }}
                                            </small>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <input class="btn btn-primary" type="submit" value="Replay" style="height: 37px;">
                                    </form>
                                    {% endif %}
                                </div>
                                {% if not comment.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>

                            {% endwith %}
                        {% endrecursetree %}

                    </ul>
                    <!-- END comment-list -->

                    {% if user.is_authenticated %}

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form class="p-5 bg-light" method="post" id="formReview">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">
                            {% for field in form %}

                            <div class="col-md-12 form-group">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                    <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                {{ field|addclass:'form-control' }}
                                {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                    {{ field.help_text|safe }}
                                </small>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="col-md-6 offset-md-4" style="margin-left: 500px;">
                                <button type="submit" class="save btn btn-default">
                                    {% if is_edit %}
                                    Сохранить
                                    {% else %}
                                    Добавить
                                    {% endif %}
                                </button>
                            </div>



                        </form>
                    </div>

                    {% endif %}

                </div>


            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">

                <div class="sidebar-box search-form-wrap">
                    <form action="{% url 'blog:search' %}" class="search-form" method="get">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" name="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{{ created_by.photo.url }}" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>{{ created_by }}</h2>
                            <p>{{ created_by.description|truncatewords_html:30|safe }}</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- END sidebar-box -->

                {% get_popular 3 %}

                {% get_categories %}

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>

            </div>

            <!-- END sidebar -->

        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3 ">Related Post</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a href="#" class="a-block d-flex align-items-center height-md"
                   style="background-image: url('{% static 'images/img_2.jpg' %}'); ">
                    <div class="text">
                        <div class="post-meta">
                            <span class="category">Lifestyle</span>
                            <span class="mr-2">March 15, 2018 </span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                        <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#" class="a-block d-flex align-items-center height-md"
                   style="background-image: url('{% static 'images/img_3.jpg' %}'); ">
                    <div class="text">
                        <div class="post-meta">
                            <span class="category">Travel</span>
                            <span class="mr-2">March 15, 2018 </span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                        <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#" class="a-block d-flex align-items-center height-md"
                   style="background-image: url('{% static 'images/img_4.jpg' %}'); ">
                    <div class="text">
                        <div class="post-meta">
                            <span class="category">Food</span>
                            <span class="mr-2">March 15, 2018 </span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                        <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>


</section>
<script type="text/javascript">
function show_form()
{
var d = document;
var a = d.getElementById('div_form').style.display;
d.getElementById('div_form').style.display = (a == 'none')?'block':'none';
d.getElementById('sp_sel').innerHTML = (a == 'none')?'Скрыть':'Раскрыть';
}
</script>

{% endblock %}